  * {
    margin: 0;
    padding: 0;
  }

  .whatsapp img {
    width: 50px ;
  }

  .whatsapp {
    position: fixed;
    right: 25px;
    bottom: 25px;
  }
   
  .whatsapp img:hover{
        width: 60px;
       transition: 0.8s;
  }

header{
    background: linear-gradient(254deg,rgba(85, 85, 85, 0.897) 0%, rgba(189, 17, 4, 0.966) 50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
header img{
    width: 150px;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
    
}
Li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.Section-1{
    background-color: black;
    padding: 140px;
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px; /*Espaçamento entre as divs*/
}
.div-1 img {
    width: 300px;
}
.div-2 p{
    color: #ffffff;
    font-size: 30px;
    margin-left: 50px; /*Margem de esquerda-espaçamento*/
}
/* texto destaque da section-01 */
.span-1{
    color:rgba(228, 19, 4, 0.795);/* cor da letra so span*/
    font-size: 40px;/*tamanho da letra span*/
}
.Section-2{
    background-color: #000000;
    padding: 120px;
    flex-direction: column;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-paragrafo p{
    font-size: 30px;
    color: white;
    align-items: center;
    text-align: center;
    
}
.fa-brands{
    font-size: 50px;
    color:  #7a7c7a;;
    gap: 50px;
}
.Section-2 h1{
    color: #f70a0a;;
    flex-direction: column;
    text-transform: uppercase;
}

.Section-3 {
   background-image: url(imagens/fudo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.btn-Section-3 {
    background: #0a0a0a;
    color: #e50914;
    border: 2px solid #860000;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 15 15 15px rgba(139, 0, 0, 0.7);
}

.Section-4 {
    padding: 60px;
    background-color: #000000;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Section-4 div {
    width: 300px;
    height: 300px;
    background-color: #074207;
    padding: 15px;
    text-align: center;
    box-shadow: #860000 8px 8px 14px;
    color: white;
}

.div-01 h2 {
   font-size: 25px;
   text-transform: uppercase;
   margin-top: 30px;
    
}

.div-01 p{
    font-size: 20px;
    font-weight: 700;
     margin-top: 15px;
    
}

.div-02 {
    background-image: url(imagens/coringa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.div-03 img {
    width: 100px;
    
}

.div-03 p {
    font-size: 18px;
    margin-top: 15px;
}

.fa-star, .fa-star-half {
   font-size: 30px;
   color: #ff0000;
    margin-top: 25px;
}

footer {
    background-color: #000000;
    padding: 80px;
    color: #e50914;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer .fa-x-twitter, .fa-square-instagram, .fa-tiktok {
    color: #7a7c7a;
    font-size: 40px;
}

.caixa-footer {
    margin-top: 20px;
    text-align: center;
}